<div class="container">
    <div class="text-center">
        <h1 class="nice">Vennligst fyll inn følgende informasjon:</h1>
    </div>
    <form class="form-horizontal" method="post"
          action="#">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Fornavn:</label>

            <div class="col-md-4">
                <input id="name" name="firstname" type="text" placeholder="Fornavn:" class="form-control input-md" required="">
               
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Etternavn:</label>

            <div class="col-md-4">
                <input id="name" name="lastname" type="text" placeholder="Etternavn:" class="form-control input-md" required="">
               
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Epost:</label>

            <div class="col-md-4">
                <input id="name" name="Email" type="text" placeholder="Epost:" class="form-control input-md" required="">
               
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Telefon:</label>

            <div class="col-md-4">
                <input id="name" name="Telephone" type="text" placeholder="Telefon:" class="form-control input-md" required="">
               
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Mobil:</label>

            <div class="col-md-4">
                <input id="name" name="Mobile" type="text" placeholder="Mobil:" class="form-control input-md" required="">
               
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Adresse:</label>

            <div class="col-md-4">
                <input id="name" name="address1" type="text" placeholder="Adresse1:" class="form-control input-md" required="">
               
            </div>
            
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name"></label>
            <div class="col-md-4">
                <input id="name" name="address2" type="text" placeholder="Adresse2:" class="form-control input-md" required="">
               
            </div>
            
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Postnr:</label>

            <div class="col-md-4">
                <input id="name" name="postnumber" type="text" placeholder="Postnr:" class="form-control input-md" required="">
               
            </div>
            
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Poststed:</label>

            <div class="col-md-4">
                <input id="name" name="post" type="text" placeholder="Poststed:" class="form-control input-md" required="">
               
            </div>
            
        </div>
        <!-- Select Date Of Birth-->
        <div class="row">
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Land:</label>

                <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control"  style="margin-left: 5px;">
                        <option value="1">Norway</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>


              
            </div>
        </div>
        
        <div class="text-center">
            <h4 class="message">*Disse felt er obligatoriske</h4>
        </div>
      
        <div class="text-center">
            <label class="checkbox-inline">
                <input type="checkbox" value=""><a href="#">Jeg aksepterer butikkens vilkår og salgsbetingelser</a>
              </label>
        </div>
        <div class="text-center">

            <button type="button" class="btn btn-primary">Bestill og betal NOK </button>
            
        </div>
       
    </form>
</div>


