<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h3 class="nice">Villreinjakt - Innenbygdsboende</h3>
				<div class="form-group" style="margin-top:15px;">
            <label class="col-md-4 control-label" for="add1">Etternavn: * </label>  
            <div class="col-md-6">
                <input type="" name="email" class="form-control input-md"  id="" value="">
            
            </div>
          </div>
          <div class="form-group"  style="margin-top:15px;">
              <label class="col-md-4 control-label" for="add1"  style="margin-top:15px;"> Fornavn: * </label>  
              <div class="col-md-6">
                  <input type="" name="email" class="form-control input-md"  id="" value=""  style="margin-top:15px;">
              
              </div>
            </div>
				
            <div class="form-group">
                <label class="col-md-4 control-label" for="add1">Fødselsdato: * </label>  
                <div class="col-md-6">
                    <input type="" name="email" class="form-control input-md"  id="" value="">
                
                </div>
              </div>
								
              <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Fornavn: * </label>  
                  <div class="col-md-6">
                      <input type="" name="email" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>
				
                <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Fornavn: * </label>  
                    <div class="col-md-6">
                        <input type="" name="email" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>			
				
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Fornavn: * </label>  
                      <div class="col-md-6">
                          <input type="" name="email" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>

				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Send notifications to this email
				</div>				
			
			</div>
		
			<div class="col-md-5">
				<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					add whatever we need to display
				</p>
				
				
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</div>
	</section>
</div>