<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6" >
				<h3 class="nice">GRN:</h3>
				<div class="form-group" style="margin-top:15px;">
            <label class="col-md-4 control-label" for="add1">GRN NUMBER</label>  
            <div class="col-md-6">
                <input type="" name="email" class="form-control input-md"  id="" value="">
            
            </div>
          </div>
          <div class="form-group" style="margin-top:15px;">
                <label class="col-md-4 control-label" for="add1">PO NUMBER </label>  
                <div class="col-md-6">
                    <input type="" name="email" class="form-control input-md"  id="" value="">
                
                </div>
              </div>
          <div class="form-group"  style="margin-top:15px;">
              <label class="col-md-4 control-label" for="add1"  style="margin-top:15px;"> BRANCH </label>  
              <div class="col-md-6">
                  <input type="" name="email" class="form-control input-md"  id="" value=""  style="margin-top:15px;">
              
              </div>
            </div>
				
            <div class="form-group" style="margin-top:15px;">
                <label class="col-md-4 control-label" for="add1">SUPPLIER </label>  
                <div class="col-md-2">
                    <input type="" name="email" class="form-control input-md"  id="" value=""  style="width:87px;">
                
                </div>
                
                <div class="col-md-4" style="margin-top: 0px;">
                    <input type="" name="email" class="form-control input-md"  id="" value="" style="margin-left: 11px;">
                    
                    </div>
              </div>
								
			
			</div>
		
			<div class="col-md-5" >
				<h3 class="dark-grey"></h3>
				<p >
                        <label for="grndate" class="grndate" >GRN DATE: </label><input id="meeting" type="date" value="2011-01-13"/>
				</p>
				
				
				
            </div>
            
        </div>
        
        <div class="container" >
                
                <div class="row">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Location for Items</th>
                                <th>Item Code</th>
                                <th></th>
                                <th>Unit</th>
                                <th>Purchase Price</th>
                                <th>Qty</th>
                                <th>Discount %</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="d1">
                                <td> <input id="fn" type="text" class="form-control" name="fname" ></td>
                                <td id="f1"><input id="fn" type="text" class="form-control" name="fname" ></td>
                                <td id="l1"><input id="fn" type="text" class="form-control" name="fname" ></td>
                                <td id="m1">
                                        <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 16px;">Units
                                <span class="caret"></span></button>
                                         <ul class="dropdown-menu">
                                         <li><a href="#">HTML</a></li>
                                         <li><a href="#">CSS</a></li>
                                          <li><a href="#">JavaScript</a></li>
                                           </ul>
                                          </div>
                                </td>
                                <td> <input id="fn" type="text" class="form-control" name="fname" ></td>
                                <td id="f1"><input id="fn" type="text" class="form-control" name="fname" ></td>
                                <td id="l1"><input id="fn" type="text" class="form-control" name="fname" ></td>
                                <td id="l1"><input id="fn" type="text" class="form-control" name="fname" ></td>
                                
                               </tr>
                            
                        </tbody>
                    </table>
                    
                </div><!--end row-->
                <div class="detailtable">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Item Code</th>
                              <th>Description</th>
                              <th>Unit</th>
                              <th>Sales Price</th>
                              <th>Qty</th>
                              <th>Value</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Default</td>
                              <td>Defaultson</td>
                              <td>def@somemail.com</td>
                              <td>Default</td>
                              <td>Defaultson</td>
                              <td>def@somemail.com</td>
                            </tr>      
                            <tr class="success">
                              <td>Success</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td>Success</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                            </tr>
                            <tr class="danger">
                              <td>Danger</td>
                              <td>Moe</td>
                              <td>mary@example.com</td>
                              <td>Success</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                            </tr>
                            <tr class="info">
                              <td>Info</td>
                              <td>Dooley</td>
                              <td>july@example.com</td>
                              <td>Success</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                            </tr>
                            <tr class="warning">
                              <td>Warning</td>
                              <td>Refs</td>
                              <td>bo@example.com</td>
                              <td>Success</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                            </tr>
                            <tr class="active">
                              <td>Active</td>
                              <td>Activeson</td>
                              <td>act@example.com</td>
                              <td>Success</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                <div class="col-md-5" >
                        <h3 class="dark-grey"></h3>
                        <p >
                                <button type="button" class="btn btn-primary">POST</button>
                        </p>
                        
                        
                        
                    </div>
                    <div class="col-md-5" ><!--bottom view-->
                            <div class="form-group" style="margin-top:15px;">
                                    <label class="col-md-4 control-label" for="add1"> SUB TOTAL</label>  
                                    <div class="col-md-6">
                                        <input type="" name="email" class="form-control input-md"  id="" value="">
                                    
                                    </div>
                                  </div>
                                  <div class="form-group" style="margin-top:15px;">
                                        <label class="col-md-4 control-label" for="add1">DISCOUNT </label>  
                                        <div class="col-md-2">
                                            <input type="" name="email" class="form-control input-md"  id="" value=""  style="width:57px;">
                                        
                                        </div>
                                        <div class="col-md-2" >
                                                <label class="col-md-4 control-label" for="add1">is% </label> 
                                                
                                            </div>
                                        <div class="col-md-4" style="margin-top: 0px;">
                                            <input type="" name="email" class="form-control input-md"  id="" value="" style="margin-left: -17px;">
                                            
                                            </div>
                                      </div>
                                            
                                      <div class="form-group" style="margin-top:15px;">
                                            <label class="col-md-4 control-label" for="add1">GRAND TOTAL</label>  
                                            <div class="col-md-6">
                                                <input type="" name="email" class="form-control input-md"  id="" value="">
                                            
                                            </div>
                                          </div>
                            
                        </div><!--bottom view-->
                        
                                
                
            </div>
           
           
	</section>
</div>