@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Lobster');
h1.nice {
    font-family: 'Lobster', cursive;
}
body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(26, 24, 24);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
input{
margin-top: 15px;

}
.col-md-4{
    margin-top: 15px;
}
h4{
    color:black;
    margin-top:15px;
}
.dark-grey{
    margin-top: 22px;
}
.message{
    background-color: rgb(180, 177, 177);
    margin-left: 30px;
    margin-top: 30px;
    color:rgb(12, 12, 12);
}
p{
    color:black;
    font-size: 10pt;
}
.btn{
    margin-top: 30px;
    float:right;
}