<div class="container-fluid">
  <section class="container">
  <div class="container-page">				
    <div class="col-md-6">
      <h3 class="nice">GRN:</h3>
      <div class="form-group" style="margin-top:15px;">
          <label class="col-md-4 control-label" for="add1">Company: </label>  
          <div class="col-md-6">
              <input type="" name="company" class="form-control input-md"  id="" value="">
          
          </div>
        </div>
        <div class="form-group"  style="margin-top:15px;">
            <label class="col-md-4 control-label" for="add1"  style="margin-top:15px;"> First Name:</label>  
            <div class="col-md-6">
                <input type="" name="fristname" class="form-control input-md"  id="" value=""  style="margin-top:15px;">
            
            </div>
          </div>
      
          <div class="form-group">
              <label class="col-md-4 control-label" for="add1">Last Name </label>  
              <div class="col-md-6">
                  <input type="" name="lastname" class="form-control input-md"  id="" value="">
              
              </div>
            </div>
              
            <div class="form-group">
                <label class="col-md-4 control-label" for="add1">Address: </label>  
                <div class="col-md-6">
                    <input type="" name="address" class="form-control input-md"  id="" value="">
                
                </div>
              </div>
      
              <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Address 2:</label>  
                  <div class="col-md-6">
                      <input type="" name="address2" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>			
      
                <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">City: </label>  
                    <div class="col-md-6">
                        <input type="" name="city" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Province/State: </label>  
                    <div class="col-md-6">
                        <input type="" name="province" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Zip:</label>  
                    <div class="col-md-6">
                        <input type="" name="zip" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Telephone:</label>  
                    <div class="col-md-6">
                        <input type="" name="telephone" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Fax:</label>  
                    <div class="col-md-6">
                        <input type="" name="fax" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Cell#:</label>  
                    <div class="col-md-6">
                        <input type="" name="cell" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Email:</label>  
                    <div class="col-md-6">
                        <input type="" name="email" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
     				
    
    </div>
  
    <div class="col-md-5">
      <h3 class="dark-grey">Shipping Address:</h3>
      <div class="form-group" style="margin-top:15px;">
        <label class="col-md-4 control-label" for="add1">Company: </label>  
        <div class="col-md-8">
            <input type="" name="company" class="form-control input-md"  id="" value="">
        
        </div>
      </div>
      <div class="form-group"  style="margin-top:15px;">
          <label class="col-md-4 control-label" for="add1"  style="margin-top:15px;"> First Name:</label>  
          <div class="col-md-8">
              <input type="" name="fristname" class="form-control input-md"  id="" value=""  style="margin-top:15px;">
          
          </div>
        </div>
    
        <div class="form-group">
            <label class="col-md-4 control-label" for="add1">Last Name </label>  
            <div class="col-md-8">
                <input type="" name="lastname" class="form-control input-md"  id="" value="">
            
            </div>
          </div>
            
          <div class="form-group">
              <label class="col-md-4 control-label" for="add1">Address: </label>  
              <div class="col-md-8">
                  <input type="" name="address" class="form-control input-md"  id="" value="">
              
              </div>
            </div>
    
            <div class="form-group">
                <label class="col-md-4 control-label" for="add1">Address 2:</label>  
                <div class="col-md-8">
                    <input type="" name="address2" class="form-control input-md"  id="" value="">
                
                </div>
              </div>			
    
              <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">City: </label>  
                  <div class="col-md-8">
                      <input type="" name="city" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Province/State: </label>  
                  <div class="col-md-8">
                      <input type="" name="province" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Zip:</label>  
                  <div class="col-md-8">
                      <input type="" name="zip" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Telephone:</label>  
                  <div class="col-md-8">
                      <input type="" name="telephone" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>
      
     
    </div>
    <div class="col-md-10 message">
      <ul>
        <li>display something</li>
        <li>display something</li>
        <li>display something</li>

      </ul>
    </div>
    <div class="col-md-6">
        <h4 class="nice">Please enter your shipping preferences(for sample request only):</h4>
        <p>Orders will not be processeed unless one account # is filled.</p>
        *CAN DISPLY ANYTHIHG WE WANT
        <div class="form-group" style="margin-top:15px;">
            <label class="col-md-4 control-label" for="add1">Company: </label>  
            <div class="col-md-6">
                <input type="" name="company" class="form-control input-md"  id="" value="">
            
            </div>
          </div>
          <div class="form-group"  style="margin-top:15px;">
              <label class="col-md-4 control-label" for="add1"  style="margin-top:15px;"> First Name:</label>  
              <div class="col-md-6">
                  <input type="" name="fristname" class="form-control input-md"  id="" value=""  style="margin-top:15px;">
              
              </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-4 control-label" for="add1">Last Name </label>  
                <div class="col-md-6">
                    <input type="" name="lastname" class="form-control input-md"  id="" value="">
                
                </div>
              </div>
                
              <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Address: </label>  
                  <div class="col-md-6">
                      <input type="" name="address" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>
        
                <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Address 2:</label>  
                    <div class="col-md-6">
                        <input type="" name="address2" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>			
        
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">City: </label>  
                      <div class="col-md-6">
                          <input type="" name="city" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Province/State: </label>  
                      <div class="col-md-6">
                          <input type="" name="province" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Zip:</label>  
                      <div class="col-md-6">
                          <input type="" name="zip" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Telephone:</label>  
                      <div class="col-md-6">
                          <input type="" name="telephone" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Fax:</label>  
                      <div class="col-md-6">
                          <input type="" name="fax" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Cell#:</label>  
                      <div class="col-md-6">
                          <input type="" name="cell" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="add1">Email:</label>  
                      <div class="col-md-6">
                          <input type="" name="email" class="form-control input-md"  id="" value="">
                      
                      </div>
                    </div>
               
      
      </div>
    
      <div class="col-md-5">
        
        <div class="form-group" style="margin-top:15px;">
          <label class="col-md-4 control-label" for="add1">Company: </label>  
          <div class="col-md-8">
              <input type="" name="company" class="form-control input-md"  id="" value="">
          
          </div>
        </div>
        <div class="form-group"  style="margin-top:15px;">
            <label class="col-md-4 control-label" for="add1"  style="margin-top:15px;"> First Name:</label>  
            <div class="col-md-8">
                <input type="" name="fristname" class="form-control input-md"  id="" value=""  style="margin-top:15px;">
            
            </div>
          </div>
      
          <div class="form-group">
              <label class="col-md-4 control-label" for="add1">Last Name </label>  
              <div class="col-md-8">
                  <input type="" name="lastname" class="form-control input-md"  id="" value="">
              
              </div>
            </div>
              
            <div class="form-group">
                <label class="col-md-4 control-label" for="add1">Address: </label>  
                <div class="col-md-8">
                    <input type="" name="address" class="form-control input-md"  id="" value="">
                
                </div>
              </div>
      
              <div class="form-group">
                  <label class="col-md-4 control-label" for="add1">Address 2:</label>  
                  <div class="col-md-8">
                      <input type="" name="address2" class="form-control input-md"  id="" value="">
                  
                  </div>
                </div>			
      
                <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">City: </label>  
                    <div class="col-md-8">
                        <input type="" name="city" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Province/State: </label>  
                    <div class="col-md-8">
                        <input type="" name="province" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Zip:</label>  
                    <div class="col-md-8">
                        <input type="" name="zip" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="add1">Telephone:</label>  
                    <div class="col-md-8">
                        <input type="" name="telephone" class="form-control input-md"  id="" value="">
                    
                    </div>
                  </div>
        
				<button type="submit" class="btn btn-primary">Send Request</button>
       
      </div>
  </div>
</section>
</div>